/* You can add global styles to this file, and also import other style files */
@import url('~bootstrap/dist/css/bootstrap.min.css');

.even{
    background-color: blueviolet;
    color: white;
}

.odd{
    background-color: orangered;
    color: white;
}